@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Experience IT Program</h1>
    <p class="lead">“ExperienceIT” is a non-profit collaboration between leading information technology organizations and workforce agencies in Detroit committed to facilitating the growth and resilience of the IT workforce in the region.</p>
    <p><a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fwww.experienceitdetroit.org%2F%3Ffbclid%3DIwAR3u4y5oldboKBCnJF4aHCe8fFtWfIhaufCLtTzn9-SFGua3nklPwduRWk8&h=AT3xit3bQW0rV3W3I0DQ-mJgRocwcKOsl9XVh-mrYPJF_2Z2ACeYGDTT2_pmeLITZNUORCH6QLs76a9zVZi8oTH5RlC4U4lpx6FruRVCzTSsskQYr76PIIZF9zM4vew2wBC227xydHtdIwDY5fU7VA" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@